@import "tailwindcss";
@media (max-width: 768px) {
  body {
    padding-bottom: 75px;
  }
}
/* HIDE SCROLLBAR */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}